body{
    background-color: rgb(255, 255, 255);
}

/*nav bar*/
.topnav{
    overflow: hidden;
    background-color: #101010;
    font-size: 20px;
    padding: 10px; 
}
.topnav_right {
    float: right;
}
.nav_text{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    margin: 5px;
}
.topnav a:hover{
    color: red;
}

/**/

.image_top{
    position: relative;
    text-align: center;
    color: white;
    margin-top: .25%;
}
.KL{
    width: 100%;
}
.text{
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    font-family:'DM Sans', sans-serif
}
.picture_left{
    width: 49.8%;
    float: left;
    border: 2% solid rgb(255, 239, 227);
    margin-top: 1%
}
.picture_right{
    width: 49.8%;
    float: right;
    border: 2% solid rgb(255, 239, 227);
    margin-top: 1%
}

footer{
    margin-top: 220%;
    padding: 1%;
    background-color: #f1f1f1;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
i:hover{
    color: #949494;
}